<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SENCE Test Suite" parallel="tests" thread-count="2">
  <!-- <test name="SENCE Tests">

  </test> -->
  <!-- Cross Browser -->
  <test name="ChromeTitleTest">
    <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.Leccion1test" />
    </classes>
  </test>
  <test name="FirefoxTitleTest">
    <parameter name="browser" value="firefox" />
    <classes>
      <class name="com.Leccion1test" />
    </classes>
  </test>
</suite>